{% extends "base.html" %}
{% block titulo %}
    {{ nome }}
{% endblock %}
{% block conteudo %}
    <h1>{{ nome }}</h1>
    {% for imagem in imagens %}
        <img src="{{ imagem }}" width=200>
    {% endfor %}
    <p><strong>{{ preco }}</strong></p>
    <p>{{ quantidade }} unidades</p>
    <table width="100%">
        {% for campo, valor in especificacoes.items() %}
        <tr>
            <td width="30%">{{ campo }}</td>
            <td>{{ valor | safe }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}